
/* Section 3 */
/* >>>>> Description */

.section3{
    /* border: 1px solid red; */
    width: 100%;
}
.about-desc{
    /* border: 1px solid black; */
    width: 1100px;
    margin: 100px auto;
    display: flex;
}
.desc-left{
    width: 50%;
    /* border: 1px solid green; */
    padding-right: 50px;
    padding-bottom: 20px;
}
.desc-left > h1{
    margin: 20px 0;
}
/* .desc-left > p:last-child{
} */
.desc-right{
    /* border: 1px solid green; */
    width: 50%;
    background-image: url(../assets/images/about.jpeg);
    border-radius: 10px;
}

/* Section 4 */
/* >>>> Our Goal */

.section4{
    border: 1px solid black;
    width: 100%;
    background-image: url(../assets/images/black-back.webp);
}
.our-goal{
    width: 1100px;
    margin: 100px auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-goal > h1{
    border-left: 10px solid var(--primary-green);
    padding-left:30px ;
}
.our-goal > p{
    width: 70%;
}

/* Section 5 */
/* >>>> Our Team */

.section5{
    /* border: 1px solid blue; */
    width: 100%;
}
.our-team{
    width: 1100px;
    margin: 100px auto;
}
.our-team > .top{
    /* border: 1px solid red; */
    text-align: center;
}
.our-team > .bottom{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    border-radius: 10px;
    margin: 100px 0;
}
.our-team > .bottom > div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;

}
.our-team > .bottom > div > img{
    width: 80%;
    /* height: 60%; */
    border-radius: 0 0 10px 10px;
}
.our-team > .bottom > div > div{
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 20px;
}


