@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Utilities */
:root{
    --primary-green:#4AAB3D;
    --heading-black:black;
    --heading-white:white;
    --description:gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    border: 1px solid black;
    height: auto;
    width: 100%;
    background-color: #161616;
}
.footer-container{
    /* border: 1px solid yellow; */
    height: 100%;
    width: 1100px;
    margin: 100px auto;
    display: flex;
    gap: 20px;
}
.footer-container > div:nth-child(1){
    /* border: 1px solid white; */
    width: 30%;
    padding-right: 20px;
}
.footer-container > div:nth-child(1) img{
    width: 70%;
}
.footer-container > div:nth-child(2){
    /* border: 1px solid white; */
    width: 20%;
}
.footer-container > div:nth-child(3){
    /* border: 1px solid white; */
    width: 20%;
}
.footer-container > div:nth-child(4){
    /* border: 1px solid white; */
    width: 30%;
}
footer h3{
    color: white;
    margin-bottom: 50px;
    font-family: 'Nasalization', sans-serif;
}
footer p, a{
    color: var(--description);
    text-decoration: none;
    line-height: 22px;
    /* margin: 0 0 10px 0; */
    font-family: 'Sansation', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.benefits a{
    /* border: 1px solid red; */
    display: block;
    margin-bottom: 10px;
}
a:hover{
    color: var(--primary-green);
}
.contact > div > a:nth-child(2){
    /* border: 1px solid red; */
    color: var(--primary-green);
    font-size: 25px;
    font-weight: 600;
    margin:10px 0;
}
.contact >div, .company > div, .phases > div {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}
.contact-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contact-btn > button:hover{
    background-color: white;
    color: green;
}
.contact-btn > p{
    text-align: right;
}
.social-icons > a{
    /* border: 1px solid red; */
    margin-left: 20px;
}
.social-icons > a:nth-child(1)> .fa-brands:hover{
    /* border: 1px solid red; */
    color: #3b5998 !important;
}
.social-icons > a:nth-child(2) > .fa-brands:hover{
    /* border: 1px solid red; */
    color: #00acee !important;
}
.social-icons > a:nth-child(3) > .fa-brands:hover{
    /* border: 1px solid red; */
    color:#962fbf !important;
}
.social-icons > a:nth-child(4) > .fa-brands:hover{
    /* border: 1px solid red; */
    color:#c4302b !important;
}
.social-icons > a:nth-child(5) > .fa-brands:hover{
    /* border: 1px solid red; */
    color:#0088cc !important;
}
