/* Default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section 2 */
/* >>>> ENhanced Strategy */

.section2{
    /* border: 1px solid blue; */
    margin: 100px 0;
    height: auto;
    width: 100%;
}
.enhanced{
    /* border: 1px solid red; */
    height: 100%;
    width: 1100px;
    margin: auto;
}
.enhanced-heading{
    /* border: 1px solid green; */
    text-align: center;
}
.enhanced-heading > p{
    margin-top: 10px;
}
.enhanced-content{
    /* border: 1px solid yellow; */
    margin-top: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.enhanced-left{
    /* border: 1px solid green; */
    border-radius: 20px;
    height: auto;
    width: 38%;
    background-image: url(../assets/images/enhanced.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.enhanced .watch{
    /* border: 1px solid red; */
    height: 140px;
    margin: 40px;
    border-radius: 10px;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.enhanced .watch > div{
    /* border: 1px solid black; */
    width: 100%;
    background-image: url(../assets/images/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.enhanced .watch i{
    display: inline-block;
    text-align: center;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.707);
    border-radius: 50%;
    padding: 10px;
}
.enhanced .watch > p{
   font-size: 13px;
   line-height: 1;
   text-align: center;
   font-weight: 500;
}
.enhanced-right{
    /* border: 1px solid blue; */
    height: 100%;
    width: 57%;
}
.enhanced-right > div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    padding: 25px;
    border-radius: 10px;
}
.enhanced-right > div:nth-child(2){
    margin: 25px 0;
}
.enhanced-right > div > i{
    font-size: 30px;
}
.enhanced-right > div > div{
    padding: 0 30px;
}
.enhanced-right > div > div > h2{
    margin-bottom: 8px;
    font-weight: 500;
}
.enhanced-right > div > div > p{
    color: var( --description);
}
/* Style for the popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Style for the close button */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

/* Section 3 */
/* >>>> How Arad Chain will */
.section3{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-image: url(https://demo.cmssuperheroes.com/themeforest/solatec/wp-content/uploads/bg-black-with-line.jpg);
}
.how-will{
    /* border: 1px solid black; */
    width: 1100px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
.how-will > .left{
    /* border: 1px solid blue; */
    text-align: center;
}
.how-will > .left > h1{
    color: white;
}
.how-will > .left > p:nth-child(3){
    margin-top: 20px;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
.how-will > .right{
    /* border: 1px solid blue; */
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.howWillBoxes{
    /* border: 1px solid green; */
    margin-bottom: 0px;
    border-radius: 10px;
    text-align: center;
}
.howWillBoxes > object{
    width: 80%;
    height: 60px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.howWillBoxes > .content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.howWillBoxes > .content > h2{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(158, 158, 158);
}
.howWillBoxes > .content > p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(158, 158, 158);
    margin-bottom: 5px;
    line-height: 23px;
    filter: contrast(2.77);
}

/* Section 4 */
/* >>>>> Roadmap */
.section4{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    margin: 100px 0;
}
.roadmap{
    /* border: 1px solid red; */
    width: 1100px;
    margin: auto;
}
.roadmap-heading{
    /* border: 1px solid red; */
    width: 57%;
    margin: auto;
}
.roadmap-heading > p:nth-child(2){
    margin-top: 10px;
    color: var(--primary-green);
}
.timeline {
    /* border: 1px solid blue; */
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
/* Line */
.timeline::before {
    content: "";
    position: absolute;
    right: 60.19%;
    width: 3px;
    height: 94.7%;
    background-color: #4aab3d87;
}
.timeline > ul {
    list-style-type: none;
}
/* Circle */
.timeline > ul > li::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #329e28;
    border-radius: 50%;
    right: 59.38%;
    margin-top: 15px;
    transition: 0.5s;
}
.timeline > ul > li .time {
    position: absolute;
    right: 65%;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 15px 10px;
    width: 160px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.time > span > i{
    color: var(--primary-green);
    margin-right: 10px;
}
.content1 {
    background: var(--primary-green);
    margin-bottom: 40px;
    padding: 30px;
    color: white;
    border-radius: 10px;
    position: relative;
    left: 41%;
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.content1 > h2 {
    margin-bottom: 10px;
}
.content1 > ul > li {
    list-style-type: disc;
    font-family: 'Sansation', sans-serif;
    margin-bottom: 5px;
    margin-left: 20px;
}


/* Section 5 */
/* >>>> Discover the Power */
.section5{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    background-image: url(https://demo.cmssuperheroes.com/themeforest/solatec/wp-content/uploads/bg-black-with-line.jpg);
}
.discover > .top{
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 60px;
}
.discover > .top > .left > .heading{
    color: var(--heading-white) !important;
    margin-right: 20px;
}
.discover > .top > div{
    width: 50%;
}
.discover > .top > .right > p{
    color: white;
    margin-top: 34px;
}
.discover{
    /* border: 1px solid black; */
    max-width:1100px ;
    margin: auto;
    padding: 100px 0;
}
.mid{
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
}
.discoverBoxes{
    /* border: 1px solid green; */
    background-color: white;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 325px;
}
.discoverBoxes > img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.discoverBoxes > .content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.discoverBoxes > .content > h2{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
    /* text-align: left; */
}
.discoverBoxes > .content > p{
    font-size: 15px;
    font-weight: 400;
    color: var( --description);
    margin-bottom: 5px;
    line-height: 23px;
    filter: contrast(2.77);
}

/* Section 6 */
/* >>>> Who can benefit from us */
.section6{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}
.benefit{
    /* border: 1px solid red; */
    width: 1100px;
    margin: 100px auto;
}
.benefit > .top{
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    text-align: center;
    gap: 15px;
}
.benefit .right > p{
    color: black;
    text-align: center;
}
.benefit > .bottom{
    /* border: 1px solid yellow; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.benefitBoxes{
    /* border: 1px solid green; */
    background-color: white;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.benefitBoxes > img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 30%;
}
.benefitBoxes > .content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.benefitBoxes > .content > h2{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}
.benefitBoxes > .content > p{
    font-size: 15px;
    font-weight: 400;
    color:var(--description);
    margin-bottom: 5px;
    line-height: 23px;
    filter: contrast(2.77);
}

/* Section 7 */
/* Blogposts */
.section7{
    /* border: 1px solid red; */
    width: 100%;
    background-image: url(../assets/images/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    padding: 10px 0;
}
.section7::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(360deg, #4AAB3DD9 16%, #3C9830 95%);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    opacity: 1;
    z-index: 1;
}
.blogpost{
    position: relative;
    z-index: 100;
    /* border: 1px solid red; */
}
.section7 h1{
    /* border: 1px solid black; */
    position: relative;
    z-index: 100;
    color: white;
    text-align: center;
    width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: -30px;

}
