/* Section 1 */
/* >>>> Jumbotron */


/* Section 3:  Mission */
.section3{
    width: 100%;
    /* border: 1px solid black; */
}
.mission-content{
    /* border: 1px solid black; */
    width: 1100px;
    margin: auto;
    display: flex;
}
.mission-content > div{
    /* border: 1px solid red; */
}
.mission-content > .left{
    width: 60%;
}
.mission-content > .right{
    width: 40%;
}
.mission-content > .right > img{
    width: 100%;
}


