/* Section 1 */
/* >>>> Jumbotron */


/* Section 3:  Mission */
.section3{
    width: 100%;
    /* border: 1px solid black; */
}
.mission-top{
    border-left: 10px solid var(--primary-green);
    padding-left: 10px;
}
.vision-top{
    border-right: 10px solid var(--primary-green);
    padding-right: 10px;
}
.section3 img{
    border-radius: 10px;
}
.sec3-container{
    width: 1100px;
    margin: 100px auto;
    /* border: 1px solid red; */
}
.mission-bottom, .vision-bottom{
    margin-top: 40px;
    display: flex;
}
.mission-bottom > div, .vision-bottom > div{
    width: 50%;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    text-align: justify;
}
.mission-bottom > div > p{
    padding-right: 50px;
}
.vision-bottom > div > p{
    padding-left: 50px;
}
.mission-bottom > div:last-child{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}
.vision{
    margin-top: 60px;
}
.vision-top {
    text-align: right;
    /* border: 1px solid red; */
}
.vision-top > h1 {
    padding-right: 0;
}
.vision-bottom{
    flex-direction: row-reverse;
}
.vision-bottom > div:last-child{
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: flex-start; */
}

