@media all and (max-width:680px) {
    .slide-content > h1{
        font-size: 3rem;
    }
    .slide-content{
        width: 90%;
        margin: auto;
    }
    .slider-dots,.prev,.next{
        display: none;
    }
    button{
        margin-bottom: 10px;
    }
}

